* {
    font-family: 'Calibri';
    color: rgb(14, 61, 88);
}

body {
    margin: 5px; 
    width: 840px;
}

button {
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #7bb33b;
    border: none;
    border-radius: 15px;
    box-shadow: 4px 4px #999;
    color: rgb(14, 61, 88);
    width: 240px;
}
  
button:hover {
    background-color: rgb(175, 216, 175);
    color:rgb(70, 90, 102);
}

button:active {
    background-color:#a2d865;
    box-shadow: 1px 2px #666;
    transform: translateY(4px);
}
  